body{
  	margin:0px;
  	padding:0px;
}
header,footer{
  	margin:0px;
  	padding:15px;
	background-color:#555;
  	color:white;
  	font-family:"標楷體";
  	font-size:50px;
  	height:100px;
  	text-align:center;
}
#main{
  display:flex;
  height:800px;
  margin:0px;
  padding:0px;
  flex-flow:row;
  justify-content:center;
}
#main>nav{
  	background-color:#222;
  	color:white;
  	font-family:"標楷體";
  	border:1px solid white;
  	font-size:50px;
    flex:3 1 30%;
  	order:1;
    flex-flow:row;

}
#main>nav a{
	display:block;
	text-decoration:none;
	color:white;
}
#main>nav a:hover{
  	background-color:#444;
  	color:green;
  	font-family:"標楷體";
  	border:1px solid white;
  	font-size:50px;
}


#main>aricle{
  	background-color:#111;
  	color:white;
  	font-family:"標楷體";
    border:1px solid white;
  	border-radius:20pt;
  	font-size:50px;
    flex:3 6 50%;
  	order:2;
    flex-flow:row;
}
#main>aside{
  	background-color:#222;
  	color:white;
  	font-family:"標楷體";
    border:1px solid white;
  	font-size:50px;
    flex:3 6 20%;
  	order:3;
    flex-flow:row;
}

@media all and (max-width: 640px) {
        #main, #page {
            flex-direction: column;
        }

        #main > article, #main > nav, #main > aside {
            order: 0;
        }
  
        #main > nav, #main > aside, header, footer {
            min-height: 50px;
            max-height: 50px;
        }
    }
